# Directorios de compilación
bin/
obj/
out/
publish/
Debug/
Release/

# Archivos binarios
*.exe
*.dll
*.pdb

# Logs
*.log

# Bases de datos
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# Archivos de configuración
*.json

# Directorios de dependencias
node_modules/
packages/